JavaBuild(
    provider: Zulu,
    version: "8.0.402",
    edition: JRE,
    environment: Environment(
        os: "macos",
        arch: "aarch64",
    ),
    executable: "bin/java",
    download: "https://cdn.azul.com/zulu/bin/zulu8.76.0.17-ca-jre8.0.402-macosx_aarch64.tar.gz",
    name: "zulu8.76.0.17-ca-jre8.0.402-macosx_aarch64.tar.gz",
    size: 40987300,
    checksum: "07f02b5a2dbe562900483b53b0e9b4c238e79d38ef4a5bc51fe8e084ff5f4653",
)
