JavaBuild(
    provider: Zulu,
    version: "8.0.402",
    edition: JRE,
    environment: Environment(
        os: "macos",
        arch: "x86_64",
    ),
    executable: "bin/java",
    download: "https://cdn.azul.com/zulu/bin/zulu8.76.0.17-ca-jre8.0.402-macosx_x64.tar.gz",
    name: "zulu8.76.0.17-ca-jre8.0.402-macosx_x64.tar.gz",
    size: 41292800,
    checksum: "1218c0b531a301b2c58fdfdd1194ffbedf799fbf7b66c5d214ba10a4a1f945af",
)
